.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.grid_layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.movies_wrapper {
}

.image_wrapper {
}

.content_wrapper {
}

.title {
}

.desctription {
}

.know_more {
}
